.main {
    height: 100%;
    margin: 2% 109px;
 
}

.home {
    color: gray;
    cursor: pointer;
    margin-left: 1%;
}

.main-content {
    width: 69%;
     border: 2px solid #E4E4E4;
    margin-top: 2%;
    margin-left: 1%;
   
}

.title-header {
    background-color: white;
    padding: 16px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
   
}
.location {
    margin-left: 300%;
    padding: 6px;
}

.image {
    width: 65px;
    height: 85px;
    opacity: 1;
    position: relative;
    top: 5px;
    margin-left: 36px;


}
.bookName {
    height: 24px;
    width: 150px;
  
}

.authorName {
    height: 16px;
    width: 76px;
}


.bodyBox {
    height: 750px;
}


.quantitiy {
    display: flex;
   padding-bottom: 40px;
    margin-top: 6%;
    margin-left: 2%;
}
.inputBox {
    border: 1px solid #DBDBDB;
    height: 24px;
    width: 41px;

}

.circle {
    height: 24px;
    width: 24px;
    margin-right: 2%;
    cursor: pointer;
  
}

.remove-btn {
    margin-left: 1%;
    margin-top: 3px;
    cursor: pointer;
    background: border-box;
    border: none;
    font-weight: bold;
}


.inputBox {
    border: 1px solid gainsboro;
    height: 24px;
    width: 41px;
    margin-right: 2%;
    text-align: center;
    

}

.button1 {
    width: 120px;
    height: 35px;
    background: blue;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -5%;
    margin-left: 590px;

}

.address {
    border-color: black;
    border: 2px solid #E4E4E4;
    height: auto;
    margin-left: 10px;
    margin-right: 330px;
    margin-top: 20px;

    h2 {
        padding: 0px;
        padding-top: 13px;
        padding-left: 15px;
    }
}
.summary {
    border-color: black;
    border: 2px solid #E4E4E4;
    height: auto;
    margin-left: 10px;
    margin-right: 330px;
    margin-top: 20px;

    h2 {
        padding: 0px;
        padding-top: 13px;
        padding-left: 15px;
    }
}

