<div class="Container">
    <div class="main">
        <div class="header">
            <p routerLink="/dashboard/books" type="button">Home /</p>
            <p>My cart</p>
        </div>
    </div>
    <div class="cart_container">
        <h2>My Cart({{CartList.length}})</h2>
        <div class="crt" *ngFor="let Book of CartList">
            <div class="image">
                <img src="../../../assets/book1.png" alt="">
            </div>
            <div class="book-description">
                <h2>{{Book.product_id.bookName}}</h2>
                <p>by {{Book.product_id.author}}</p>
                <div class="price-container" fxLayout="row">
                    <div class="dicounted-price">
                        <b>Rs. {{Book.product_id.discountPrice}} </b>
                    </div>
                    <div class="actual-price">
                        Rs. {{Book.product_id.price}}
                    </div>
                </div>
                <div class="quantity">
                    <div class="decreaseQty" (click)="decrease(Book)">
                        <img src="../../../assets/remove_circle_outline_black_24dp.svg" alt=" ">
                    </div>
                    <div class="one">
                        {{Book.quantityToBuy}}
                    </div>
                    <div class="IncreaseQty" (click)="increase(Book)">
                        <img src="../../../assets/add_circle_outline_black_24dp.svg" alt=" ">
                    </div>
                    <div class="btn">
                        <button mat-button (click)="deleteItem(Book._id)">
                            Remove
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="placeorder">
            <a class="order" (click)="addressBar()">PLACE ORDER</a>
        </div>
    </div>
    <div class="address" *ngFor="let Book of CartList">
        <div *ngIf="address">
            <h2>Address Details</h2>
        </div>

        <div *ngIf="!address">
            <div>
                <div>
                    <h2>Customer Details</h2>
                </div>
                <div class="cust-container">
                    <div class="fname">
                        <div>
                            <label  class="label">Full Name</label>
                        </div>
                        <div>
                            <p>{{Book.user_id.fullName}}</p>
                            
                        </div>
                    </div>
                    <div class="fname">
                        <div>
                            <label  class="label">Mobile Number</label>
                        </div>
                        <p>{{Book.user_id.phone}}</p>
                       
                    </div>
                </div>
            </div>
            <div>
                <h4>Address</h4>
                <div class="fulladdress">
                    <p>{{Book.user_id.address[0].fullAddress}}</p>
                
                </div>
            </div>
            <div class="cust-container">
                <div class="fname">
                    <div>
                        <label  class="label">City/Town</label>
                    </div>
                    <div>
                        <p>{{Book.user_id.address[0].city}}</p>
                    
                    </div>
                </div>
                <div class="fname">
                    <div>
                        <label  class="label">State</label>
                    </div>
                    <div>
                        <p>{{Book.user_id.address[0].state}}</p>
                        
                    </div>
                </div>
            </div>
            <div>
                <h4 style="margin-top: 10px;" class="textName">Type</h4>
                <mat-radio-group >
                  <mat-radio-button class="example-margin" value="Home">Home</mat-radio-button>
                  <mat-radio-button class="example-margin" value="Office">Office</mat-radio-button>
                  <mat-radio-button class="example-margin" value="Other">Other</mat-radio-button>
                </mat-radio-group>
              </div>
        </div>
            <div *ngIf="cont">
                <a class="order" (click)="continueBar()">Continue</a>
            </div>
        </div>

    </div>
    <div class="summary">
        <div *ngIf="summary">
            <h2>Order Summary</h2>
        </div>
        <div *ngIf="!summary">
            <h2>Order Summary</h2>
            <div class="crt" *ngFor="let Book of CartList">
                <div class="image">
                    <img src="../../../assets/book1.png" alt="">
                </div>
                <div class="book-description">
                    <h2>{{Book.product_id.bookName}}</h2>
                    <p>by {{Book.product_id.author}}</p>
                    <div class="price-container" fxLayout="row">
                        <div class="dicounted-price">
                            <b>Rs. {{Book.product_id.discountPrice}} </b>
                        </div>
                        <div class="actual-price">
                            Rs. {{Book.product_id.price}}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="order" (click)="placeOrder()" routerLink="/dashboard/order">Checkout</a>
            </div>
        </div>
    </div>