<div class="Block">
    <mat-card class="mat1">

        <div>
            <img class="img" src="../../../assets/component.png" alt="">
        </div>

        <div class="text">
            ONLINE BOOK SHOPPING
        </div>
    </mat-card>
    <mat-card class="mat2">
       
        <div class="login">
            <P>LOGIN</P>
        </div>
        <div class="signup" routerLink="/signUp">
            <p>SIGNUP</p>
        </div>
      
        <form [formGroup]="loginForm">
            <div class="form-fields">

                <div class="field">
                    <div class="email_txt">
                        <mat-label>Email Id</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input type="text" formControlName="email" matInput placeholder="">
                            <mat-error>Enter an email address</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="field">
                    <div>
                        <mat-label>Password</mat-label>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input type="password" formControlName="password" matInput placeholder="">
                            <mat-error>Enter a password</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="forgotpass">
                    <mat-label>Forgot Password?</mat-label>
                </div>
                <button class="button1" (click)="onSubmit()">Login</button>

                <div class="or">
                    <h2>-------OR-------</h2>
                </div>
                <div>
                    <div class="button2" fxLayout="row" fxLayoutAlign="space-around center">
                        <button class="facebookbutton" mat-flat-button color="primary">Facebook</button>
                        <button class="googlebutton" mat-flat-button>Google</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>