<div class="mainheader">
    <div style="width: 80%;margin-left: 95px;">
        <div style="width: 100%; margin-top: 2%;">
            <span style="color:gray; cursor: pointer;" routerLink="/dashboard/books">Home/</span><span> Books </span>
        </div>
        <div class="header">
            <div class="Books">
                <div class="smallimages">
                    <div class="small1">
                        <img class="img1" src="../../../assets/book1.png" alt="">
                    </div>
                    <div class="small2">
                        <img class="img2" src="../../../assets/small book.png" alt="">
                    </div>
                </div>
            </div>
            <div class="maincontent">
                <div class="image">
                    <img src="../../../assets/book1.png" alt="bookImage">
                </div>
               
                <div class="bottom-options">
                    <div class="buttons">
                        <button class="cart-button" mat-raised-button (click)="addToBag()">Add to Bag</button>

                        <button class="wishlist-button" mat-raised-button (click)=" wishlist()">
                            <img class="wish-img"
                                src="../../../assets/favorite_FILL0_wght400_GRAD0_opsz48.svg">Wishlist</button>

                    </div>

                </div>
            </div>

            <div class="bookdetails">
                <h2 class="title">{{Book.bookName}}</h2>
                <p class="author">by {{Book.author}}</p>
                <div class="rating">
                    4.5<img class="Star" src="../../../assets/star_outline_white_24dp.svg" alt="">
                </div>
                <p id="count">(20)</p>
                <div class="price-container">
                    <div class="dicounted-price">
                        <b>Rs.1000</b>
                    </div>
                    <div class="actual-price">01
                        Rs.{{Book.price}}
                    </div>

                </div>
                <div class="para1">
                    <span class="booktitle">Book Detail</span>
                    <p class="bookparagraph">
                        {{Book.description}}
                    </p>
                </div>

                <div class="feedback">
                    <p>Customer Feedback</p>
                </div>

              

                <div class="overallrating">
                    <div class="rate-para">
                        <p class="ratename">Overall Rating</p>
                        <div>
                            <div class="rate">

                                <input type="radio" id="star5" name="rate" [(ngModel)]="rating" value="5" />
                                <label for="star5" title="Extremely Good">5 stars</label>
                                <input type="radio" id="star4" name="rate" [(ngModel)]="rating" value="4" />
                                <label for="star4" title="Very Good">4 stars</label>
                                <input type="radio" id="star3" name="rate" [(ngModel)]="rating" value="3" />
                                <label for="star3" title="Good">3 stars</label>
                                <input type="radio" id="star2" name="rate" [(ngModel)]="rating" value="2" />
                                <label for="star2" title="Not Bad">2 stars</label>
                                <input type="radio" id="star1" name="rate" [(ngModel)]="rating" value="1" />
                                <label for="star1" title="Bad">1 star</label>
                            </div>
                        </div>

                    </div>
                    <textarea matInput class="review" type="text" placeholder="write a review"
                        name="comment"></textarea>

                    <div>
                        <button class="submitbutton" mat-flat-button color="primary">Submit</button>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>